h1{
    font-style: normal;
    font-size: 120%;
}
.x{
    font-family: arial;
    font-weight:bold;
    text-indent: 3cm;
}
body{
    background-image:url("1.jpg");
    background-repeat: repeat-y;
}